.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.menu{
    border:black 2px solid 
}
.website{
    background-color:#808080 ;
    color:deeppink;
    border:black 2px solid;
}
.grid{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer{
    background-color: darkcyan;
    color:darksalmon;
    border: black 2px solid;
}